// Sass allows nested blocks
.page-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $navBarColor;
    font-family: $siteFont;

    img {
        padding: 1rem 0;
        padding-left: 1em;
    }

    ul {
        height: 100%;
        list-style-type: none;
        overflow: hidden;
        margin-right: 4rem;

        li {
            height: 100%;
            float: left;

            a {
                height: 100%;
                display: block;
                color: $fontColor;
                font-size: $navbarFontSize;
                padding: 2rem 1rem;
                text-decoration: none;
                text-align: center;
                &:hover {
                    background-color: $hoverColor;
                }
            }
        }
    }
}