$bodyColor: #ffffff;
$siteFont: 'Varta', sans-serif;
// Navbar
$navBarColor: #f4f4f4;
$hoverColor: #ffffff;
$navbarFontSize: 20px;
$fontColor: #000000;
// Content
$contentBackground: #2c2c2cf3;
$contentFontColor: #ffffff;
$fruitGridWidth: 100vw - 20vw;
$veggieGridWidth: 50%;
$gridGap: 1rem;
$gridPadding: 2rem;
$gridImgWidth: 14rem;
$gridImgHeight: 14rem;
$fruitBorder: 2px solid red;
$veggieBorder: 2px dashed lightgreen;